// VARIABLES
$black:  #333
$white:  #FFFFFF
$red:  #FF0000

//MIXINS

=circleThing($rad, $height, $width, $bg, $color,)
    -webkit-border-radius:  $rad
    -moz-border-radius:     $rad
    -ms-border-radius:      $rad
    border-radius:          $rad

    height: $height
    width:  $width

    line-height: $height
    text-align: center

    background: $bg
    color:  $color

    margin: 0 auto

    

//STYLES



.container4
    background: black
    color: $white


.container11
    +circleThing(155%, 155px, 155px, $red, white,)
    position: relative
    z-index: -2
    Margin-top: 16px
    margin-left: 170pt
    

.container12
    padding: 40px
    background: black
    color: white
    position: relative
    z-index: -2
    text-align: center

.container14
 padding: 80px  
 margin-top: 40px 
   








  
      



    
    





    
 


