
<div id="body">
 <div class= "container">
     <div class="col-md-12"></div>
    <div class="card-deck">
    {{#each articles}}
    <div class="card col-3">
    <img class="card-img-top" src="/assets/photos/{{photoPath}}" alt="Card image cap" style="width: 50; height: 50;">
    <div class="card-body">
        <h5 class="card-title" style="color:black">{{headline}}</h5>
        {{!-- <p class="card-text">{{articleText}}</p> --}}
        <a href="/api/article/{{id}}" class="btn btn-danger">View Article</a>
    </div>
    </div>
    {{/each}}
    </div>



    </div>

</div>