<div class="container">
  <div class="row">
    <div class="col-md-8" class="form-group">
      <div class="row">
        <input class="new-item form-control" id="userHeadline" placeholder="WRITE YOUR OWN HEADLINE HERE" type="text" />
      </div>
      <br>
      <br>
      <div class="row">
        <textarea class="new-item form-control" id="userArticle" placeholder="WRITE YOUR OWN ARTICLE HERE" rows="5"
          type="text"></textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <button type="submit" id="submitBtn" class="btn btn-primary">Submit Your Article</button>
  </div>
</div>

</div>


<footer class="site-footer">
  </div>
  <p>Copyright &copy</p>
  </div>
</footer>